pre code.highlight {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.highlight {
  padding: 3px 5px;
}
.highlight {
  color: #c9d1d9;
  /* background: #0d1117; */
}
.highlight-doctag,
.highlight-keyword,
.highlight-meta .highlight-keyword,
.highlight-template-tag,
.highlight-template-variable,
.highlight-type,
.highlight-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}
.highlight-title,
.highlight-title.class_,
.highlight-title.class_.inherited__,
.highlight-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}
.highlight-attr,
.highlight-attribute,
.highlight-literal,
.highlight-meta,
.highlight-number,
.highlight-operator,
.highlight-variable,
.highlight-selector-attr,
.highlight-selector-class,
.highlight-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}
.highlight-regexp,
.highlight-string,
.highlight-meta .highlight-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}
.highlight-built_in,
.highlight-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}
.highlight-comment,
.highlight-code,
.highlight-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}
.highlight-name,
.highlight-quote,
.highlight-selector-tag,
.highlight-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}
.highlight-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}
.highlight-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}
.highlight-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}
.highlight-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}
.highlight-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}
.highlight-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}
.highlight-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}

/* purposely ignored */
/* .highlight-char.escape_,
.highlight-link,
.highlight-params,
.highlight-property,
.highlight-punctuation,
.highlight-tag {
} */
